<div class="font-sans bg-white h-screen flex flex-col w-full">
  <div class="h-screen  from-green-400 to-blue-500">
    <div class="px-4 py-48">
      <div class="relative w-full text-center">
        <h1
          class="animate-pulse font-bold  text-2xl mb-6">
          Thank you for your time
        </h1>
      </div>
      <div class="relative w-full text-center">
        <p class="font-bold text-2xl mb-6">You can logout and fill new questionnaire</p>
      </div>
      <div class="relative w-full text-center">
        <p class="font-bold text-2xl mb-6">Or</p>
      </div>
      <div class="relative w-full text-center">
        <%= link_to "Go to profile step", "/wizard/profile", class: 'inline-flex items-center h-8 px-4 m-2 text-sm text-indigo-100 transition-colors duration-150 bg-indigo-700 rounded-lg focus:shadow-outline hover:bg-indigo-800' %>
      </div>
    </div>
  </div>
</div>
